* {
	margin: 0;
	padding: 0;
	font-family: DinPro;
}
body {
	background-color: #f5f5f5;
}
a,
a:hover {
	text-decoration: none;
	color: #000;
}

a,
p,
h1,h2,h3,h4,h5,h6 {
	cursor: default;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
	height: 100%;
	background-color: #fff !important;
	-webkit-box-shadow: -3px 0px 3px rgba(50, 50, 50, 0.14),3px 0px 3px rgba(50, 50, 50, 0.14);
	   -moz-box-shadow: -3px 0px 3px rgba(50, 50, 50, 0.14),3px 0px 3px rgba(50, 50, 50, 0.14);
			box-shadow: -3px 0px 3px rgba(50, 50, 50, 0.14),3px 0px 3px rgba(50, 50, 50, 0.14);
}
