main .container {
	& > h3 {
		text-align: center;
		text-transform: uppercase;
		height: 100px;
    	line-height: 120px;
	}
	& > a {
		display: block;
		width: 100%;
		height: 80px;
		line-height: 100px;
		text-align: center;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	#youtubeAndNews {
		height: 100px;
		text-align: center;
		margin: 0 auto;
		@include flex();
		justify-content: center;
		div {
			flex: 0 0 45.7%;
			height: 100%;
			@include flex();
			flex-direction: column;
			justify-content: center;
			h3 {
				text-transform: uppercase;
				width: 100%;
				margin-bottom: 0;
			}
			p {

				width: 100%;
			}
		}
		a {
			display: block;
			flex: 0 0 33.3%;
			height: 100%;
			line-height: 63px;
			text-transform: uppercase;
			font-size: 1.75em;
		}
	}
}

#slider {
	height: 310px;
	justify-content: space-between;
	.col-6 {
		height: 100%;
		&:nth-child(1){
			padding: 0;
			flex: 0 0 49%;
			background-image: url(../img/index/children.jpg);
			background-position: center center;
			.black {
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.5);
				text-transform: uppercase;
				position: relative;
				p {
					position: absolute;
					right: 5%;
					top: 55%;
					font-size: 1.4em;
					color: #fff;
					width: 42%;
					text-align: right;
					line-height: 1em;
				}
				a {
					position: absolute;
					right: 5%;
					top: 80%;
				    font-size: 0.8em;
				    display: block;
				    height: 40px;
				    text-align: center;
				    width: 34%;
				    line-height: 40px;
					background-color: #fff;
				}
			}
		}
		&:nth-child(2){
			flex: 0 0 49%;
		}
	}
}


#projects {
	height: 285px;
	justify-content: center;
	.col-3 {
		margin: 0 1%;
		height: 100%;
		padding: 0;
		.top {
			width: 100%;
			height: 60%;
			background-size: cover;
			background-position: center center;
			.black {
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.2);
			}
		}
		.bot {
			width: 100%;
			height: 40%;
			h4 {
				padding-top: 10px;
				padding-left: 10px;
				font-size: 1.8em;
				color: #fff;
				margin-bottom: 0;
			}
			p {
				padding-left: 10px;
				font-size: 0.8em;
				color: #fff;
			}
			a {
				display: block;
				width: 28%;
				height: 16px;
				line-height: 16px;
				text-align: center;
				font-size: 0.55em;
				background-color: #1e2e3d;
				@include border-radius(2px);
				text-transform: uppercase;
				margin-top: -2%;
				margin-right: 10%;
				float: right;
				color: #fff;
				&:hover {
					color: #000;
					background-color: #fff;
				}
			}
		}
		&:nth-child(1) .top {background-image: url(../img/index/project-1.jpg);}
		&:nth-child(2) .top {background-image: url(../img/index/project-2.jpg); background-position: top right;}
		&:nth-child(3) .top {background-image: url(../img/index/project-3.jpg); background-position: top center;}
		&:nth-child(1) .bot {background-color: #939393;}
		&:nth-child(2) .bot {background-color: #6699cc;}
		&:nth-child(3) .bot {background-color: #33cc99; background-position: top center;} 
	}
}

#mainBlock {
	min-height: 600px;
	justify-content: center;
	& > .col-6 {
		padding: 0;
		flex: 0 0 45.7%;
		min-height: 100%;
		iframe {
			width: 100%;
			height: 300px;
		}
		.galleryText {
			width: 100%;
			height: 100px;
			@include flex();
			flex-direction: column;
			justify-content: flex-end;
			h3 {
				text-align: center;
				text-transform: uppercase;
				width: 100%;
				margin-bottom: 0;
			}
			p {
				text-align: center;
				width: 100%;
			}
		}
		.gallerySlider {
			width: 100%;
			height: 300px;
			background-color: lime;
			background-image: url(../img/index/slider-1.jpg);
			background-size: cover;
		}
	}
	.col-4 {
		min-height: 100%;
		.row {
			justify-content: flex-end;
			height: 100%;
			a {
				text-align: center;
				display: block;
				width: 100%;
				text-decoration: underline;
			}
			.col-6 {
				min-height: 200px;
				margin-bottom: 15px;
				padding-right: 0;
				padding-left: 20px;
				&:nth-child(1) .newsImg {background-image: url(../img/index/news-1.jpg);}
				&:nth-child(2) .newsImg {background-image: url(../img/index/news-2.jpg);}
				&:nth-child(3) .newsImg {background-image: url(../img/index/news-3.jpg);}
				&:nth-child(4) .newsImg {background-image: url(../img/index/news-4.jpg);}
				&:nth-child(5) .newsImg {background-image: url(../img/index/news-5.jpg);}
				&:nth-child(6) .newsImg {background-image: url(../img/index/news-6.jpg);}
				div.newsImg {
					width: 100%;
					height: 110px;
					background-position: top center;
					background-size: cover;
				}
				h4 {
					padding-top: 8px;
					font-size: 0.7em;
					margin-bottom: 0;
				}
				p {
					margin-top: 8px;
					font-size: 0.6em;
					line-height: 1em;
					margin-bottom: 0;
				}
				span:first-child {
					float: left;
					display: block;  
					width: 15px;
					height: 15px; 
					background-image: url(../img/index/cube.jpg);
				}
				span:nth-child(2) {
					margin-left: 5px;
					float: left;
					font-size: 0.7em; 
					display: block;
					line-height: 15px;  
					width: 15px;
					height: 15px; 
				}
				a {
					display: block;
					font-size: 0.6em;
				}
				.clear {
					clear: both;
					margin-bottom: 5px;
				}	
			}
		}
	}
}

.quoteTop,
.quoteBot {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	font-size: 0.7em;
	padding-top: 50px;
}
.quoteBot {
	padding-top: 15px;
}
.afterQUote {
	text-align: center;
	margin-top: 15px;
}

#article {
	background-color: #efefef;
	min-height: 800px;
	.articleImg {
		width: 79%;
		margin: 0 auto;
		min-height: 400px;
		background-image: url(../img/index/girls.jpg);
		background-position: center center;
		-webkit-background-size: cover;
		background-size: cover;
		.black {
			width: 100%;
			height: 100%;
			min-height: 400px;
			background-color: rgba(255,255,255,.15);
		}
	}
	.blueBlock {
		width: 60%;
		height: 120px;
		margin-top: -25px;
		background-color: #d5edef;
		@include flex();
		flex-direction: column;
		justify-content: center;
		h3 {
			width: 70%;
			margin: 0 auto;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		p {
			width: 70%;
			margin: 0 auto;
			line-height: 1em;
    		font-size: 0.8em;
		}
	}
	p.firstText {
		padding-top: 20px;
		width: 70%;
		line-height: 1.8em;
		margin: 0 auto;
		font-size: 0.7em;
		margin-bottom: 30px;
	}
	.secondText {
		width: 70%;
		margin: 0 auto;
		div {
			width: 25%;
			height: 100%;
			background-color: #fff;
			@include border-radius(10px);
			float: left;
			margin-right: 10px;
		}
		p {
			line-height: 1.8em;
			font-size: 0.7em;
		}
	}
	.thirdText {
		padding-top: 40px;
		width: 70%;
		line-height: 1.8em;
		margin: 0 auto;
		font-size: 0.7em;
	}
	a {
		display: block;
		width: 100%;
		height: 100px;
		padding-top: 20px;
		line-height: 60px;
		text-align: center;
		text-decoration: underline;
	}

}

#partners {
	min-height: 150px;
	justify-content: center;
	.col-2 {
		height: 70px;
		margin: 0 2%;
		background-color: #eee; 
	}
}